venv/
env/
.venv/

# model/plant_model.h5
# model/*.h5
model/*.keras

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Environment variables
.env
.env.local

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db